body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.carImg {
    height: 128;
}

.cropImage {
    max-width: 100%;
}

img {
    max-width: 100%
}

.prevImage {
    width: 400px;
    height: 300px;
}